FOLDER_ROUTE=C:\\Users\\Usuario\\CiklumRepos\\selenium-check-in-out
CHROME_PROFILE_ROUTE=C:\\Users\\Usuario\\PerfilSelenium

# not-profiled
CIKLUM_USER=usuario@ciklum.com
CICKLUM_PASSWORD=mi_contraseña_de_ciklum